@tailwind base;
@tailwind components;
@tailwind utilities;

/* imports  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');
@layer components {
    .main-heading{
        @apply md:text-[55px] text-3xl capitalize 
    }
    .sub-heading{
        @apply md:text-[43.35px] uppercase text-[26px]
    }
    .main-btn{
        @apply border border-black font-semibold text-base p-3 px-6 rounded-3xl hover:bg-black hover:text-white hover:border-black
    }
}


@font-face {
    font-family: Bangla_MN;
    src: url('../public/fonts/Bangla_MN.ttf');
}
.font-bangla-mn{
    font-family: Bangla_MN;
}
body{
    font-family: 'Inter', sans-serif;
}
.filter{
    background: rgba(255, 252, 244, 0.7) !important;
    box-shadow: 0px 134px 80px rgba(0, 0, 0, 0.01), 0px 67.8375px 34.875px rgba(0, 0, 0, 0.00675), 0px 26.8px 13px rgba(0, 0, 0, 0.005), 0px 5.8625px 4.625px rgba(0, 0, 0, 0.00325) !important;
    backdrop-filter: blur(20px) !important;
    border-radius: 20px !important;
}
.filter .item, nav .nav_item {
    position:  relative;
}
.filter .item:after{
    position: absolute;
    content: '';
    bottom: -26px;
    right: 0;
    height: 2px;
    width: 100%;
    background: black;
}
nav .nav_item:after{
    position: absolute;
    content: '';
    bottom: -7px;
    right: 49%;
    height: 5px;
    width: 5px;
    border-radius: 100%;
    background: black;
}
.PageBanner{
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.slick-slider .slick-track, .slick-slider .slick-list{
    padding: 0px 0px !important;
    position: relative !important;
}
 .slick-list::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    background: #000;
} 
._sideBlurbg{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 79.2%);
}
._shadow{
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.07)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0531481)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0425185)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.035)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0274815)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.0168519));
}


._calendar{
    box-shadow: none !important;
    margin: 0 !important;
    width: 100% !important;
    margin-top: 2rem !important;
    margin-left: -1rem !important;
}
.rmdp-day, .rmdp-week-day{
    height: 50px !important;
}

.rmdp-range{
    background: #F8F5EE !important;
    color: #000 !important;
    box-shadow:none !important;
}

.rmdp-range.start>span, 
.rmdp-range.end>span{
    color: #fff !important;
    background: #000 !important;
}

.rmdp-deactive>span{
    color: #d6d6d6;
    position: relative;
}
.rmdp-deactive>span:after{
    position: absolute;
    content: "";
    top: 50%;
    left:30%;
    transform: translate(-50% -50%);
    width: 40%;
    padding: .7px;
    background: #d6d6d6;
}
._calendar .rmdp-week-day{
    color: black !important;
    font-weight: 500;
}
.rmdp-arrow{
    border: solid #000000 !important;
    border-width: 0 2.2px 2.2px 0 !important;
    width: 8px !important;
    height: 8px !important;
}
.rmdp-arrow-container:hover{
    background: transparent !important;
    box-shadow: none !important;
}
.rmdp-header-values{
    font-weight: 500 !important;
    font-size: 22px !important;
}
._calendar div>div{
    width: 100% !important;
}
.rmdp-day.rmdp-deactive:hover>span{
    color: #d6d6d6 !important;
    background: transparent !important;
    cursor: default;
}
.rmdp-day:hover>span{
    color: #fff !important;
    background: #000 !important;
}
.slick-slide{
    padding: 0.6rem;
}
.slick-slide.slick-active{
    padding-left: 0 !important;
}
.rmdp-day.rmdp-today span{
    background: transparent !important;
    color: black !important;
    border: 1px solid black
}
.rmdp-day.rmdp-today.rmdp-range{
    background: transparent !important;
}


@media (max-width: 768px) {
    ._calendar{
        margin-top: 1rem !important;
        margin-left:0 !important;
    }
    .rmdp-day, .rmdp-week-day{
        height: 30px !important;
        font-size: 14px;
    }
    .rmdp-day>span{
        font-size: 12px !important;
    }
    .rmdp-header-values {
        font-size: 14px !important;
    }
    .rmdp-day-picker{
        padding: 0 !important;
        padding-top: 6px !important;
    }
    .rmdp-calendar{
        padding: 0 !important;
    }
}


@media (min-width:769px) and (max-width: 1024px) {
    .rmdp-day, .rmdp-week-day{
        height: 30px !important;
        font-size: 14px;
    }
    .rmdp-day>span{
        font-size: 12px !important;
    }
    .rmdp-header-values {
        font-size: 16px !important;
    }
}

@media (min-width:1520px) {
    .rmdp-day, .rmdp-week-day{
        height: 60px !important;
    } 
}

@media (min-width:1024px) and (max-width:1282px) {
    .rmdp-day, .rmdp-week-day{
        height: 40px !important;
    } 
}

progress {
    border-radius: 7px; 
    width: 100%;
    height: 4px;
  }
  progress::-webkit-progress-bar {
    background-color: #C3C3C3;
    border-radius: 50px;
  }
  progress::-webkit-progress-value {
    background-color: #111;
    border-radius: 7px;
  }


  .portable_content p{
    font-size: 16px;
  }
  .portable_content ul{
    list-style: disc;
    margin-top: 01rem;
    padding-left: 1rem;
  }

  .portable_content ul li{
    margin-top: .7rem;
  }
  .emoji-404{
    position: relative;
    animation: mymove 2.5s infinite;
  }
  
  @keyframes mymove {
    33%   {top: 0px;}
    66%  {top: 20px;}
    100%  {top: 0px}

  }

  .loader-wrapper {
    background: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loder-crcil {
    box-shadow: 3px 0 0px #000;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  animation: loader 1s linear infinite;
}

.text {
    box-shadow: 0 0 2px #afaaaa;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    font-family: fantasy;
    font-size: 13px;
    letter-spacing: 0.5px;
}

@keyframes loader {
  0% {transform: rotate(0deg);}
    0% {transform: rotate(360deg);}
}


.body {
    text-align: center;
    padding: 40px 0;
  }
  .body h1 {
      color: #88B04B;
      font-weight: 900;
      font-size: 40px;
      margin-bottom: 10px;
      font-family: Bangla_MN;
    }
    .body p {
      color: #404F5E;
      font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
      font-size:20px;
      margin: 0;
    }
    .body i {
    color: #9ABC66;
    font-size: 100px;
    line-height: 200px;
    margin-left:-15px;
  }
  .body .card {
    background: white;
    padding: 60px;
    border-radius: 4px;
    /* box-shadow: 0 2px 3px #e6e7e8; */
    display: inline-block;
    margin: 0 auto;
  }
